* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* h1 {
    color: crimson;
    text-shadow: 5px 5px 10px red; xy blur color
    box-shadow:  5px 5px 10px red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
img{
    height: 300px;
    filter: drop-shadow(5px 5px 10px red);
}

#parent{
    height: 300px;
    width: 300px;
    background-color: lightblue;
}
#child{
    height: 30%;
    width: 30%;
    background-color: red;
}