* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#box {
    height: 400px;
    width: 300px;
    background-color: red;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#box:hover img {
    scale: 1.2;
}